
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card bg-dark my-5">
          <div class="card-body">
            <h2 class="card-title text-center text-white py-3">Admin Restaurants</h2>
            <ul class="text-center list-inline py-3">
                <li class="list-inline-item">
                    <a routerLink="listRestaurants" class="btn btn-info">View restaurants</a>
                </li>
                <li class="list-inline-item">
                    <a routerLink="addRestaurant" class="btn btn-info">Add Resaurant</a>
                </li>
                <li class="list-inline-item">
                    <a routerLink="updateRestaurant" class="btn btn-info">Update Resaurant</a>
                </li>
                <li class="list-inline-item">
                    <a routerLink="deleteRestaurant" class="btn btn-info">Delete Resaurant</a>
                </li>
            </ul>
          </div>
    </div>
  </div>