<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card bg-dark my-5">
          <div class="card-body">
            <h2 class="card-title text-center text-white py-3">Crumbs Admin Portal</h2>
            <h3 class="card-title text-center text-white py-3">Select which section you wish to modify:</h3>
            <ul class="text-center list-inline py-3">
                <li class="list-inline-item">
                    <a href="crumbs/admin/drivers" class="btn btn-info">Drivers</a>
                </li>
                <li class="list-inline-item">
                    <p><a href="crumbs/admin/restaurants" class="btn btn-info"> Restaurants</a></p>
                </li>
                <li class="list-inline-item">
                    <p><a href="crumbs/admin/orders" class="btn btn-info"> Orders</a></p>
                </li>
                <li class="list-inline-item">
                    <p><a href="crumbs/admin/users" class="btn btn-info"> Users</a></p>
                </li>
            </ul>
          </div>
    </div>
  </div>
