<ul class = 'pagination'>
    <button class='page-link' (click)='previous.emit()'> Previous </button>
    <ng-container *ngFor="let n of [].constructor(totalPages + 1); let number = index;">
       <li 
        class='page-item active' 
        (click)='onSelected(number)'
        [ngClass]="{'active' : currentPage===number}"
        >  <button class="page-link" href="#">{{ number + 1 }}</button>
    </li>
    </ng-container>
    <button class='page-link' (click)='next.emit()'> Next </button>
</ul>