<mat-form-field appearance="fill">
    <mat-label>Filter Status</mat-label>
    <mat-select>
      <mat-option (click)="newStatus('')">
        Show All
      </mat-option>
      <mat-option (click)="newStatus('AWAITING_DRIVER')">
        Awaiting Driver
      </mat-option>
      <mat-option (click)="newStatus('FULFILLED')">
        Fulfilled
      </mat-option>
      <mat-option (click)="newStatus('DELETED')">
        Deleted
      </mat-option>
      <mat-option (click)="newStatus('DELIVERING')">
        Delivering
      </mat-option>
    </mat-select>
  </mat-form-field>
