
  <div class="card my-5">
    <div class="card-body">
      <mat-horizontal-stepper linear #stepper>
        <mat-step>
          <ng-template matStepLabel>Fill out Restaurant Owner Details</ng-template>
          <app-user-detail (newItemEvent)="sendUserDetail($event)"></app-user-detail>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Fill out Restaurant Location</ng-template>
          <app-location (newItemEvent)="sendLocation($event)"></app-location>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Fill out Restaurant Details</ng-template>
          <app-restaurant-details (newItemEvent)="sendRestaurantDetail($event)"></app-restaurant-details>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <h1>You have entered the following:</h1>
          <h2>Restaurant Owner Details:</h2>
          <p>First Name: {{addRestaurantDTO.firstName}}</p>
          <p>Last Name: {{addRestaurantDTO.firstName}}</p>
          <p>Email: {{addRestaurantDTO.email}}</p>
          <h2>Restaurant Location Details:</h2>
          <p>Street: {{addRestaurantDTO.street}}</p>
          <p>City: {{addRestaurantDTO.city}}</p>
          <p>ZIP: {{addRestaurantDTO.zip}}</p>
          <p>State: {{addRestaurantDTO.state}}</p>
          <h2>Restaurant Details</h2>
          <p>Restaurant Name: {{addRestaurantDTO.name}}</p>
          <p>Restaurant Price Rating: {{addRestaurantDTO.priceRating}}</p>
          <p *ngFor="let cat of addRestaurantDTO.categories">Restaurant Category: {{cat.name}}</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
            <button type="button" class="btn btn-success" (click)="onSubmit()">Submit</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
    <div>
      <pre>{{ addRestaurantDTO | json }}</pre>
    </div>
  </div>
