<ng-template #delete let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Confirm</h4>
        <button type="button" class="close" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <p>Are you sure you wish to delete restaurant with name: {{restaurant.restaurantOwner.userDetails.firstName}} ?</p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-light"
            (click)="modal.close('Close click')">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteRestaurant(restaurant.id)"
            (click)="modal.close('Close click')" >Delete </button>
    </div>

</ng-template>
<button type="button" class="btn btn-danger" (click)="open(delete)">Delete </button>
