<div class="card my-5">
    <h1 style="text-align: center;">Users</h1>
    <div class="card-body">
      <h2 style="text-align: center;"> Orders </h2>
      <app-filter-role (newRoleEvent)="newRole($event)"></app-filter-role>
      <app-sort-users (newSortEvent)="newSort($event)"></app-sort-users>
      <app-order-users (newOrderEvent)="newOrder($event)" ></app-order-users>
      <app-pagination 
      [totalPages]='totalPages'
      [currentPage]='page'
      (previous)='previousPage()' 
      (next)='nextPage()' 
      (selected)='pageSelected($event)'></app-pagination>
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope='col'>Customer</th>
            <th scope='col'>Driver</th>
            <th scope='col'>Restaurant</th>
            <th scope='col'>Payment</th>
            <th scope='col'>Delivery Address</th>
            <th scope='col'>Status</th>
            <th scope='col'>Delivery Time</th>
            <th scope='col'>Created At</th>
            <th scope='col'>Preferences</th>
            <th scope='col'>Phone</th>




          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.getFullName()}}</td>
            <td> {{ user.email }} </td>
            <td> {{ user.phone | phoneFormat }} </td>
            <td> {{ user.getRoles() }} </td>
            <td>
              <app-edit-user-form [user]='user' (updatedUser)='loadAllUsers()'></app-edit-user-form>
            </td>
            <td>
              <app-delete-users 
                (userDeleted)='loadAllUsers()'
                *ngIf="user.getRoles() !== 'Deleted' " 
                [user]='user'></app-delete-users>
              <app-enable-users 
                *ngIf="user.getRoles() === 'Deleted' " 
                [user]='user'
                (userEnabled)='loadAllUsers()'
              ></app-enable-users>

            </td>
          </tr>
        </tbody>
      </table>
      <app-pagination 
        [totalPages]='totalPages'
        [currentPage]='page'
        (previous)='previousPage()' 
        (next)='nextPage()' 
        (selected)='pageSelected($event)'></app-pagination>
    </div>
  </div>
  