<ng-template #modalTemplate let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Confirm</h4>
        <button type="button" class="close" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <p>Are you sure you wish to activate this user: <b>{{d.username}}</b>?</p>
            
        <div class="modal-footer">
            <button type="button" class="btn btn-light" 
                (click)="modal.dismiss()">Cancel</button>
            <button type="submit" class="btn btn-success" (click)="enableUser()"> Activate </button>
        </div>
    </div>
</ng-template>
<button type="button" class="btn btn-success" (click)="open(modalTemplate)">Activate</button>
