tbody tr {
     cursor: pointer;
     user-select: none;
     border-radius: .2em;

     transition: background-color .3s;
 }

 .selected {
     background-color: rgba(0, 255, 34, 0.315);
 }

 .slide-toggle {
     margin-bottom: 1em;
     user-select: none;
 }

 .options{
     display: flex;
     justify-content: space-between;
     align-items: flex-end;
 }

 .desc { 
    color: rgb(100, 100, 100);
    margin-bottom: 1em;
 }

 .search-field {
    width: 100%;
 }
